<%- include('layout_header') %>
<div class="row" id="app">
    <div class="columns">
        <h3>クローリング計画一覧</h3>
        <table class="unstriped">
            <thead>
            <tr>
                <th width="50">id</th>
                <th width="250">タイトル URL</th>
                <th width="150">メール宛先</th>
                <th width="150">実行スケジュール</th>
                <th width="100"></th>
            </tr>
            </thead>
            <tbody>
            <% configs.forEach((value,key)=>{ %>
            <tr>
                <td><a href="/edit/<%= value.id %>"><%= value.id %></a></td>
                <td>
                    <p>タスク名:<%= value.title %></p>
                    <p style="overflow-wrap: break-word;width: 350px;">url :<a href="<%= value.url %>" target="_blank"><%= value.url %></a></p>
                </td>
                <td><%= value.email %></td>
                <td>
                    <% if (value.schedule === 'week'){ %>
                    週毎
                    <% } else if(value.schedule  === 'month') { %>
                    月毎
                    <% } else if(value.schedule  === 'day') { %>
                    日毎
                    <% } %>
                </td>
                <td>
                    <button type="button" class="alert button" v-on:click="remove(<%= value.id %>)">削除</button>
                </td>
            </tr>
            <% }) %>
            </tbody>
        </table>
    </div>
</div>
<div class="remodal" data-remodal-id="modal" data-remodal-options="hashTracking:false">
    <button data-remodal-action="close" class="remodal-close"></button>
    <h5>削除してもよろしいでしょうか？</h5>
    <button data-remodal-action="cancel" class="remodal-cancel">Cancel</button>
    <button data-remodal-action="confirm" class="remodal-confirm">OK</button>
</div>

<%- include('layout_footer') %>
<script>
    let app = new Vue({
        el : '#app',
        methods :{
            remove : function(id){
                // ポップアップ出して確認
                let modal = $('[data-remodal-id=modal]').remodal();
                modal.open();
                $(document).on('confirmation', '.remodal', function () {
                    $.post({
                        url: '/delete/'+ id,
                    }).done(
                        location.href="/"
                    );
                });
            }
        }
    });
</script>
</html>
